<!DOCTYPE html>
<html lang="en">
    {{> header }}
  <body>
  
    {{> navbar }}

    <div class="container-fluid">
      <h2>User Profile</h2>
      <img src="https://cdn-icons-png.flaticon.com/128/9144/9144898.png" />
      <h3>Name : {{user.NAME}}</h3>
      <h3>Email : {{user.EMAIL}}</h3>
    </div>
  </body>
</html>